
:root {
  --color1: #d2a4d6;
  --color2: #b657b1;
  --color3: #f079b4d5;
  --color4: #fab5d8d5;
  --white1: #f7f7f7;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background-color: var(--color3);
}

h1{
  font-size: 2rem;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 50%;
  background: var(--white1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.315);
}


.time{
  font-size: 3rem;
  margin: 20px;
  color: black;
}
.time-paused{
  color: red;
}
.adicionar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin-top: 20px;
  gap: 20px;
}

.input-tarefa{
  height: 30px;
  width: 50% ;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
}

.btn-add{
   width: 100px;
   border-radius: 10px;
   border: none;
   background-color: var(--color3);
   font-size: 16px;
   cursor: pointer;

}

.btn-add:hover{
  background-color: var(--color4);
}
.tarefas{
  margin-top:20px ;
  width: 300px;
  /* background-color: aqua;
  border: 1px dotted red; */
}

li {

  font-size: 20px;
  font-weight: 500;
}

.apagar{
  font-size: 20px;
  border: none;
  background-color: var(--white1);
  cursor: pointer;

}
@media (max-width: 1124px) {
  .container{
    width: 70%;
  }
  button{
    padding: 3px;
    margin: 3px;
    width: 4rem;
    cursor: pointer;
  }
}
